/* *************************** start style of header *************************** */
header
{
    background-image: url(../images/back2.jpg);
    background-size: 100% 100%;
    height: 500px;
}
header nav 
{
    background: #808; 
    text-align: center; 
    padding: 20px;
    position: fixed; 
    width: 100%; 
    right: 0; 
    top:0; 
    z-index: 4 
}
header nav a 
{
    margin: 20px; 
    text-decoration: none; 
    color: #f9baf9; 
    font-size: 20px; 
    text-transform: uppercase; 
}
header nav a:hover {color: black}

header main {width: 100%; height: 100%;}

header h1
{
    text-align: center;
    margin: auto;
    position: relative;
    top: 45%;
    color:  #ef1ed4;
    border: 2px solid #333;
    width: 300px;
}
header h1:hover {background: #333; color:#808; border-color: #808}

header main aside {position: fixed; top: 80px}

header main aside a
{
    display: block;
    margin:2px;
    background: #808;
    width: 100px;
    padding: 5px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    left: -90px;
    text-align: right;
    text-decoration: none;
    color: black;
    transition-duration: 1s
}
header main aside a:hover {left: -20px}

header main aside a i
{
    border-radius: 50%;
    background: #333;
    padding: 5px;
    margin-left: 3px;
    color: #808;
}
/* ***************************  end style of header *************************** */


/* *************************** start style of article one *************************** */
.one {margin: 50px 5%}

.one > section
{
    width: 22%;
    height: 350px;
    background-size: 100% 100%;
    text-align: center;
    float: left;
    margin: 1% ;
    border: 3px groove #ef1ed4
}
.one section div 
{
    position: relative;
    top: 80%;
    padding: 20px;
    margin:auto;
    max-height:  120px;
    overflow: hidden;
}
.one section div {font-size: 18px}
.one section img
{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #ef1ed4
}
.one section:hover > div
{
    top: 20px;
    background: rgba(202,25,155,.7);
    margin: 10px;
    border: 2px solid #333;
    min-height: 200px  
}
.one section:hover > div h2 {color: black}

.one h2 {color: #808}
/* *************************** end style of article one *************************** */

/* *************************** start style of article two *************************** */
.two
{
    margin: 100px 20%;
    text-align: center;
    padding: 30px;
    background: #808;
    border-radius: 50px;
    border:3px groove #333
}
.two h3
{
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    width: 200px;
    margin: 30px auto
}
.two h3:hover {background: #333; color: #808}
.two audio
{
    height:20px;
}
/* *************************** end style of article two *************************** */


/* *************************** start style of article three *************************** */
.three
{
    background: #c3c0c0;
    color: #808;
    height: 550px;
    padding: 10px;
    border:3px groove #808
}
.three > section {float: left;}

.three .first {width: 40%;}

.three .first div
{
    background-image: url(../images/back1.jpg);
    height:500px;
    width: 400px;
    background-size: 100% 100%;
    border: 2px solid #808
}
 .three .first span
{
    display: inline-block;
    width: 10px;
    height: 10px;
    border:1px solid #333;
    position: relative;
    top: 530px;
    border-radius: 50%;
    cursor: pointer;
    left: 25%;
    border: 1px solid #808;
}

.three .first span:hover {background:#808 }
.three .first .back1:hover ~div {background-image:url(../images/pic10.jpg); transition: 2s}
.three .first .back2:hover ~div {background-image:url(../images/pic11.jpg); transition: 2s}
.three .first .back3:hover ~div {background-image:url(../images/pic13.jpg); transition: 2s}
.three .first .back4:hover ~div {background-image:url(../images/pic12.jpg); transition: 2s}
.three .first .back5:hover ~div {background-image:url(../images/pic6.jpg);  transition: 2s}
.three .first .back6:hover ~div {background-image:url(../images/imag4.jpg); transition: 2s}

.three .second {width: 60%;}

.three .second >div 
{ 
    float: left; 
    width:  40%;
    margin: 10px 5px;
}
.three .second >div h3 {display: inline-block; position: relative; top: -10px}

.three .second .imag
{
    float: none;
    width: 80%;
    text-align: center;
    height: 200px;
    position: relative;
    top: 50px;
    left: -20%
}
.three .second .imag img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #808
}
/* *************************** end style of article three *************************** */


/* *************************** start style of article four *************************** */
.four
{
    margin-top: 50px;
    margin-left: 7%
}
.four > section 
{
    float: left;
    height: 400px;
    width: 22%;
    margin:.5%;
    background-size: 100% 100%;
    border: 2px groove #808
}
.four section >div
{
    position: absolute;
    background: black;
    height: 100px;
    width: 100px;
    border-bottom-right-radius: 100%;
    overflow: hidden;
}

.four section >div:hover
{
    width: 20.3%;
    height: 400px;
    border-bottom-right-radius: 0;
    background: rgba(0, 0, 0, .8);
    text-align: center;
}
.four section div i
{
    font-size: 40px;
    margin: 2px ;
}
.four section div:hover > i
{
    padding-top: 40px
}
.four section div h3
{
    width: 200px;
    margin: auto;
    margin-top: 50px
}

/* *************************** end style of article four *************************** */


/* *************************** start style of article five *************************** */
.five article {text-align: center;}

.five video {margin-left: 30%; margin-top: 50px}

.five section
{
    text-align: center;
    margin:auto;
    width: 500px;
    padding: 50px
}
.five  section h3 {color: #0e0d0d; cursor: pointer}

.five  section i {color: #0076d3; display: none;}

.five  section h3:hover ~ i {display:inline}
/* *************************** end style of article five *************************** */


/* *************************** start style of article six *************************** */
.six{ margin-left: 17%}

.six > section
{
    width: 25%;
    height: 350px;
    background: #808;
    border: 4px groove #333;
    float: left;
    margin: .5%;
    text-align: center;
    border-radius: 30px
    
}
/* *************************** end style of article six *************************** */

/* *************************** start style of article seven *************************** */
.seven {margin:  50 0 0 20%; height: 450px;}

.seven h2 {margin-left: 30%}

.seven > section
{
    float: left;
    margin: 10px;
    text-align: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 6px solid #808;
    background: #333;
    overflow: hidden;
    color: #808;
}
.seven > section:hover
{
    width: 250px;
    height: 300px;
    border-radius: 0;
    padding: 10px
}
.seven section img
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #808
}
.seven section a:active > img
{
    width: 250px;
    height: 300px;
    border-radius: 0
}
/* *************************** end style of article seven *************************** */


/* *************************** start style of article final *************************** */
.final{background: #582d58; height: 800px }

.final > section {float: left; height: 100% } 

.final .left
{
    width: 35%;
    background-image: url(../images/vid.jpg);
    background-size: 100% 100%;
    margin-right: 30px;
    padding-left: 40px
}
 .final .right {width: 50%; color:#888}

.final .right label {display: block; margin: 10px 0}

.final .right input {width: 250px; background: #333;}

.final .right textarea {background: #333;}
.final .right input[type="submit"]
{
    margin: 20px 0 0 100px;
    width: 60px;
    color: #808;
    display: block
}

/* *************************** end style of article final *************************** */


/* *************************** start style of footer *************************** */
footer
{
    background: #333;
    padding: 30px;
    text-align:center;
    color: #f3a0f3
}
footer i {font-size: 30px; color:#f3a0f3}
/* *************************** end style of footer *************************** */
































